{% extends "base.html" %}

{% block content %}

<div class="container">
    <br>
    <img src="/static/images/Yeager-Smith.jpg" class="rounded mx-auto d-block" alt="..." style="max-width: 80%; padding-bottom: 5px;">
    <h4 class="text-center lh-base">Dr. Lora Yeager-Smith, DPM</h4>
    <br>
</div>

<div class="container-md lh-base" style="max-width: 50rem; min-height: 200px;">
    <p>
        Dr. Yeager-Smith is a podiatrist with 30 years of experience treating patients with special foot care needs, including the elderly and people with diabetes. After providing a full range of podiatric care to both young and old for over 2 decades in her own practice, Dr. Yeager-Smith now specializes in the treatment of geriatric and other at-risk populations in patients' own homes.
    </p>
</div>

{% endblock %}